@*<script src="~/Angular/Account/ChangePassword.js?v=@DateTime.Now.Ticks"></script>*@
<script src="~/Angular/Account/ChangePassword.js"></script>
<script src="~/assets/vendor/parsleyjs/js/parsley.js"></script>
<div class="container-fluid" ng-controller="ChangePasswordController">
    <div class="col-sm-12 col-md-12">
        <div class="row">
            <div class="col-sm-3C">
                @if (Session["Role"] != null && (Session["Role"]).ToString() == "Registrar")
                {
                    @Html.Partial("~/Views/RegistrarPartials/_SideNavCard.cshtml")
                }
                else
                {
                    @Html.Partial("~/Views/Partials/_SideNavCard.cshtml")
                }
            </div>
            <div class="col-sm-9 ">
                <div class="card">
                    <div class="card-header">
                        <h5>Change Password</h5>
                    </div>
                    <div class="card-body">
                        <form id="frmChangePassword" ng-submit="ChangePsw()">
                            <div class="col-sm-12 form-group">
                                <input type="password" id="OldPassword" ng-model="ChangePassword.OldPassword" class="form-control" placeholder="Old Password" name="name" value="" required data-parsley-error-message="" />
                            </div>
                            <div class="col-sm-12 form-group">
                                <input type="password" id="NewPassword" ng-model="ChangePassword.NewPassword" class="form-control" placeholder="New Password" name="name" value="" required data-parsley-error-message="" />
                            </div>
                            <div class="col-sm-12 form-group">
                                <input type="password" id="ConfirmPassword" ng-model="ChangePassword.ConfirmPassword" class="form-control" placeholder="Confirm New Password" name="name" value="" required data-parsley-equalto="#NewPassword" />
                            </div>


                            <div class="row mt-3">
                                <div class="col-sm-12 text-right">
                                    <input id="btnPswChange" type="submit" class="btn btn-success" value="Save" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="modal fade" id="ChangePasswordModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Change Password</h5>
                    <button class="close text-white" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>
                                Please Check Your Email to Reset Your Password
                            </h3>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>*@

<script>
   // $("#ChangePasswordRequest").click(function () {
    function ResetPasswordClick() {

        SendPasswordResetEmail('@Session["Email"]');
    }
  //  });
</script>
