
@{
    ViewBag.Title = "My Matches";
}
<style>
    .card-body {
        padding: 0.75rem;
    }

    caption {
        padding-bottom: 0;
    }

    .table {
        margin-bottom: 0;
    }

        .table th, .table td {
            padding: 0.75rem;
            vertical-align: top;
            border-top: none;
        }

        .table th, .table td {
            padding: 3px 0px;
        }

    .card-header {
        padding: 0.4rem 0.25rem;
    }

    hr {
        margin-top: 0;
        margin-bottom: 10px;
    }
</style>
<script src="~/Angular/Member/MyMatches.js"></script>
<link href="~/Content/UserSearch.css" rel="stylesheet" />
<link href="~/Content/MemberCard.css" rel="stylesheet" />
<div class="bg-white" ng-controller="MyMatchesListController">
    @*<div class="row" style="margin-left:0px;margin-right:0px;">
            <img src="~/Content/Img/img4.jpg" class="img-fluid" />
            <div class="col-sm-12">
                <div class="banner-text">
                    Welcome to the Worlds Premiere Online
                    <h2>Marryme Matrimony and Matrimonial Service</h2>
                </div>
            </div>
        </div>*@
    <div class="container-fluid">
        <div class=" row">
            <div class="col-sm-3 col-sm-3C position-sticky" style="margin-top:30px">
                @Html.Partial("~/Views/Partials/_SideNavCard.cshtml")

            </div>
            <div class="col-sm-9">
                @*<div class="col-sm-12">
                        <h4>Your Best Matches</h4>
                        <hr />
                    </div>*@
                @*<span class="col-sm-9" id="justify">Signin to the Marryme Marriage site #1 Matrimonial site on the planet with an immense number of novel profiles arranged to get mix. Find your great accessory at the most punctual open door! Since you would lean toward not to stay single all your life. We have the best marriage and matchmaking organizations! You can without a lot of a stretch, look profile by first dialect, race, religion, gathering and region!</span>*@
                <form ng-submit="registerlist()" novalidate>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Find Your Best Match</h5>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-sm btn-info float-right" type="submit"
                                    ng-click="initializedFilter()">
                                <i class="fa fa-refresh" aria-hidden="true"> </i>  Reset
                            </button>
                        </div>
                    </div>
                    <hr />
                    <!--<div class="form-group">
        <strong>Gender</strong>
    </div>
    <div class="form-group">
        <div class="tab-pane">
            <div class="row">
                <div class="col-sm-12">-->
                    <!--<ul class="radio-list">-->
                    <!--<li>
                            <label ng-class="{'radio-active':$parent.MemberList.Gender==Gender.Name}">
                                All
                                <input type="radio" ng-model="MemberList.Gender" value="" />
                            </label>
                        </li>
                    <li ng-repeat="Gender in GenderList">
                            <label ng-class="{'radio-active':$parent.MemberList.Gender==Gender.Name}">
                                {{Gender.Name}}
                                <input type="radio" ng-model="MemberList.Gender" value="{{Gender.Name}}" />
                            </label>
                        </li>
                    </ul>
                    <label>
                            <input type="radio" ng-model="MemberList.Gender" value="" />
                            All
                        </label>
                        <label>
                            <input type="radio" ng-model="MemberList.Gender" value="male" />
                            Male
                        </label>
                        <label>
                            <input type="radio" ng-model="MemberList.Gender" value="Female" />
                            FeMale
                        </label>
                </div>
            </div>
        </div>
    </div>-->
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Religion Sect</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.RelegionSect">
                                    <option value="">---All---</option>
                                    <option value="{{Sect.ID}}" ng-repeat="Sect in Sects">{{Sect.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Marital Status</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.MaritalStatus">
                                    <option value="">---All---</option>
                                    <option value="{{MaritalStatus.ID}}" ng-repeat="MaritalStatus in MaritalStatusList">{{MaritalStatus.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Age</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Age">
                                    <option value="">---All---</option>
                                    <option value="{{Age.Id}}" ng-repeat="Age in AgeList">{{Age.Id}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Language</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Language">
                                    <option value="">--- All---</option>
                                    <option value="{{Language.Id}}" ng-repeat="Language in Languages">{{Language.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Weight (kg)</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Weight">
                                    <option value="">--- All---</option>
                                    <option value="{{Weight.Id}}" ng-repeat="Weight in Weights">{{Weight.Id}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Height (cm)</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Height">
                                    <option value="">--- All---</option>
                                    <option value="{{height.Id}}" ng-repeat="height in Heights">{{height.Id}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Complexion</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Complexion">
                                    <option value="">--- All---</option>
                                    <option value="{{Complexion.ID}}" ng-repeat="Complexion in ComplexionList">{{Complexion.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Country</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Country" ng-change="BindState()">
                                    <option value="">---All---</option>
                                    <option value="{{Country.Id}}" ng-repeat="Country in Coutries">{{Country.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>States</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.StateTypeCode" ng-change="BindCities()">
                                    <option value="">----- Select Country First -----</option>
                                    <option value="{{State.Code}}" ng-repeat=" State in States">{{State.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>City</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.CityTypeCode">
                                    <option value="">--Select State First--</option>
                                    <option value="{{City.Code}}" ng-repeat=" City in Cities">{{City.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">                      
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Education</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" required ng-model="MemberList.EductionLevels">
                                    <option value="">--- Please Select ---</option>
                                    <option value="{{level.ID}}" style="color:#888;" ng-repeat="level in EducationList">{{level.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Employment</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" required ng-model="MemberList.Employment">
                                    <option value="">--Please Select--</option>
                                    <option value="{{Employee.ID}}" style="color:#888;" ng-repeat="Employee in EmployeedInList">{{Employee.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Family Value</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" required ng-model="MemberList.FamilyValue">
                                    <option value="">--Please Select--</option>
                                    <option value="{{FamilyValue.ID}}" style="color:#888;" ng-repeat="FamilyValue in FamilyValueList">{{FamilyValue.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Family Status</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" required ng-model="MemberList.FamilyStatus">
                                    <option value="">--Please Select--</option>
                                    <option value="{{FamilyStatus.ID}}" style="color:#888;" ng-repeat="FamilyStatus in FamilyStatusList">{{FamilyStatus.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Kids</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.Kidz">
                                    <option value="">--- All---</option>
                                    <option value="{{child.Id}}" ng-repeat="child in NoOfChildrenList">{{child.Type}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Physical Status</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" ng-model="MemberList.PhysicalStatus">
                                    <option value="">--- All---</option>
                                    <option value="{{PhysicalStatus.ID}}" ng-repeat="PhysicalStatus in PhysicalStatusList">{{PhysicalStatus.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Body Type</strong>
                            </div>
                            <div class="form-group">
                                <select class="form-control" required ng-model="MemberList.BodyType">
                                    <option value="">Please Select</option>
                                    <option value="{{BodyType.ID}}" style="color:#888;" ng-repeat="BodyType in BodyTypeList">{{BodyType.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <div class="form-group">
                                <strong>Income</strong>
                            </div>
                            <div class="form-group">
                                <input type="text" class=" col-sm-12 form-control float-right" placeholder="Search Income in number " ng-model="MemberList.income" />
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <div class="form-group">
                                <strong>Search</strong>
                            </div>
                            <div class="form-group">
                                <input type="text" class=" col-sm-12 form-control float-right" placeholder="Search Name or Cast " ng-model="MemberList.Search" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9"></div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary float-right" type="submit" style="width:100px">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row section2">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="float-left form-group">
                                    <label>
                                        Page: {{pageIndex}} of {{numPages}}
                                    </label>
                                </span>
                                <span class="form-group float-right page-size form-inline">

                                    <select id="ddlPageSize" class="form-control control-color"
                                            ng-model="pageSize"
                                            ng-change="changePageSize()">

                                        <option value="5">5</option>

                                        <option value="10">10</option>

                                        <option value="25">25</option>

                                        <option value="50">50</option>

                                    </select>

                                </span>
                            </div>
                        </div>
                        <div class="card-deck mb-3 text-center">
                            <div class="col-lg-4 col-md-4 col-sm-4 mx-0 my-0" ng-repeat="member in BestMatches">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="py-3" data-aos="zoom-in">
                                            <div class="card  mx-0 my-0" style="width:300px">
                                                @*<img src="~/Content/Img/img11.jpg" alt="—Pngtree—seo_3631356" class="card-img-top" height="210px" width="200px">*@
                                                <div class="card-header text-center text-white bg-success">
                                                    <h4>{{member.Name +" "+member.NickName}}</h4>
                                                </div>
                                                <div class="card-body">
                                                    @*<span class=" text-success float-left">
                                                            <span href="" ng-if="!FetchFieldPermissionList.Name"><h5>{{member.ShowName}}</h5></span>
                                                            <span href="" ng-if="FetchFieldPermissionList.Name"> <span style="font-size:small;color:grey;">{{FieldPermissionMessage}}</span></span>
                                                        </span>*@
                                                    <div class="text-left">
                                                        <table class="table table-sm table-striped table-hover">
                                                            <tr>
                                                                <th scope="row">Gender</th>
                                                                <td>{{member.Gender}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Marital Status:</th>
                                                                <td>{{member.MaritalStatus}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Age:</th>
                                                                <td>{{member.Age}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Education</th>
                                                                <td>{{member.EductionLevels}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Religion</th>
                                                                <td>{{member.Religion}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">Country</th>
                                                                <td>{{member.Country}}</td>
                                                            </tr>
                                                            <caption><a href="~/Member/MemberDetail?Code={{member.Code}}" class="text-info"> View Detail</a></caption>
                                                        </table>
                                                    </div>
                                                    @*<div class="text-left">
                                                            <a href="~/Member/MemberDetail?Code={{member.MemberId}}" class="text-info"> View Detail</a>
                                                        </div>*@
                                                </div>
                                                <!--<div class="p-2" style="border-top: 1px solid lightgray;">
                                                &nbsp;-->
                                                @*<p class="float-right text-secondary" style="padding-top: 13px; font-weight: 550; font-size: medium;"><i class="far fa-user">&nbsp;</i>50 <i class="far fa-heart">&nbsp;</i>65</p>*@
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- old code with Old Design
                                    <div class="row">
                                    <div class="col-md-8 col-sm-8 usrdta">-->
                                    @*<a href="" title="view full profile">EF00{{member.Id}}</a>*@


                                    <!--<a href="" ng-if="!FetchFieldPermissionList.Name"> <h5>{{member.ShowName}}</h5></a>
                                    <a href="" ng-if="FetchFieldPermissionList.Name"> <span style="font-size:small;color:grey;">{{FieldPermissionMessage}}</span></a>
                                    <h6>Age: {{member.age}}</h6>
                                    <h6 ng-if="!FetchFieldPermissionList.Gender">Gender: {{member.Gender||"N/A"}}</h6>
                                    <h6 ng-if="FetchFieldPermissionList.Gender">Gender:<span style="font-size:smaller;color:grey;">{{FieldPermissionMessage}}</span></h6>
                                    <h6 ng-if="!FetchFieldPermissionList.Religion">Religion: {{member.Religion||"N/A"}}</h6>
                                    <h6 ng-if="FetchFieldPermissionList.Religion">Religion:<span style="font-size:smaller;color:grey;">{{FieldPermissionMessage}}</span></h6>
                                    <h6 ng-if="!FetchFieldPermissionList.HighestEducation">Education: {{member.HighestEducation||"N/A"}}</h6>
                                    <h6 ng-if="FetchFieldPermissionList.HighestEducation">Education:<span style="font-size:smaller;color:grey;">{{FieldPermissionMessage}}</span></h6>
                                    <h6 ng-if="!FetchFieldPermissionList.CountryLivingIn">From: {{member.Country||"N/A"}}</h6>
                                    <h6 ng-if="FetchFieldPermissionList.CountryLivingIn">From:<span style="font-size:smaller;color:grey;">{{FieldPermissionMessage}}</span></h6>
                                    <div>
                                        if (Session["MemberId"] != null)
                                        {-->
                                    @*<a href="~/Member/MemberDetail?Code={{member.Code}}" id="register">View Detail</a>*@
                                    <!--<a href="~/Member/MemberDetail?Code={{member.Code}}">View Detail</a>
                                    }
                                    else
                                    {-->
                                    @*<div>To view details</div>
                                        <a href="~/Home/Index" class="btn btn-sm" id="register">Register for free</a>*@
                                    <!--<a href="" onclick="loginMessage()">View Detail</a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 img">
                                            <img ng-src="{{member.ProfilePicPath}}" alt="ProfilePic" width="110" style="margin-left:12px;margin-top:28px" onerror="CheckImage(this)" class="best-match-pic" />
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="float-right">
                            <pagination total-items="totalcount" ng-change="pagechanged()" items-per-page="pageSize" direction-links="true" ng-model="pageIndex" max-size="maxsize" class="pagination" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6 text-left">
                                <a href="/Member/ProfileWizard" type="button" class="btn btn-success ">Previous</a>
                            </div>
                            <div class="col-sm-6 text-right">
                                <a href="/Member/MemberList" type="button" class="btn btn-success ">Next</a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>


    </div>
</div>
<style>
    .pagination {
        /*display: inline-block;*/
        /*background: #fffff;*/
        border: 1px solid #28a745;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        .pagination li.active, .pagination li.active > a {
            background-color: #1e7e34;
            color: white;
        }

        .pagination li:hover:not(.active) {
            background-color: #ddd;
        }

        .pagination li.disabled {
            background: #ffffff;
        }

    /*h5 {
        padding-top: 13px;
        color: #fff !important;
    }*/
</style>
<script>
    // var slider = new Slider('#ex2', {});
    function loginMessage() {
        InfoMessage("Please login to view detail");
    }
</script>

