
@{
    ViewBag.Title = "ProfileRequirement";
}
<script src="~/Angular/Member/ProfileRequirement.js?v=@DateTime.Now.Ticks"></script>
<style>
    .lineHeight {
        line-height: 1.7;
    }

    .card-body {
        padding: 0.75rem;
    }

    .card-header {
        padding: 0.3rem 1.25rem;
    }

        .card-header h5 {
            line-height: 1;
        }
</style>
<div class="container-fluid mt-5" ng-controller="ProfileRequirementController">

    <div class="row">
        <div class="col-sm-3 col-sm-3C">
            @Html.Partial("~/Views/Partials/_SideNavCard.cshtml")
        </div>
        <div class="col-sm-9 ">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-12 pt-1 pb-1 heading text-black-50">
                        <h5>What are You looking For</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 pt-2 pb-3">
                    <form id="PartnerCategory" ng-submit="SavePartnerAllCatgory()">
                        <div class="row">
                            <div class="col-md-6 pr-0 pl-0">
                                <div class="col-sm-12 col-md-12 pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Education Levels</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.EducationLevels track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.EducationLevels[$index].Status" id="{{edu_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{edu_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Marital Status</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.MaritalStatus track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.MaritalStatus[$index].Status" id="{{mari_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{mari_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Family Type</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.FamilyType track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.FamilyType[$index].Status" id="{{famT_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{famT_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12  pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Family Status</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.FamilyStatus track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.FamilyStatus[$index].Status" id="{{famS_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{famS_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12  col-md-12 pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Religion</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.Religion track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.Religion[$index].Status" id="{{reg_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{reg_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12  col-md-12 pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Sect</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.Sect track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.Sect[$index].Status" id="{{sect_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{sect_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12  col-md-12 pr-0 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Location</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <label class="col-sm-4">Country</label>
                                                        <div class="col-sm-8 form-group">
                                                            <select class="form-control multiSelect2" 
                                                                    multiple id="ddCountry"
                                                                    ng-model="Location.CountryId">
                                                                <option value="">----- Please Select -----</option>
                                                                <option value="{{CountryLivingIn.Id}}"
                                                                        ng-repeat=" CountryLivingIn in CoutriesLivingInList">
                                                                    {{CountryLivingIn.Name}}
                                                                </option>
                                                            </select>
                                                            @*<label>{{CountryLivingIn}}</label>*@
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <label>State</label>
                                                        </div>
                                                        <div class="col-sm-8 form-group">
                                                            <select class="form-control multiSelect2"
                                                                       multiple id="ddState"
                                                                    ng-model="Location.StateId">
                                                                <option value="">----- Please States -----</option>
                                                                <option value="{{State.StateID}}"
                                                                        ng-repeat=" State in States">
                                                                    {{State.Name}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4 form-group">
                                                            <label>City </label>
                                                        </div>
                                                        <div class="col-sm-8 form-group">
                                                            <select class="form-control multiSelect2"
                                                                       multiple id="ddCity"
                                                                    ng-model="Location.CityId">
                                                                <option value="">----- Select State First -----</option>
                                                                <option value="{{City.CityID}}"
                                                                        ng-repeat=" City in Cities">
                                                                    {{City.Name}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-2 pr-0">
                                <div class="col-sm-12 col-md-12  pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Physical Status</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.PhysicalStatus track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.PhysicalStatus[$index].Status" id="{{phy_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{phy_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12  pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5>Body Type</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.BodyType track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.BodyType[$index].Status" id="{{sta_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{sta_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12  pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5>Complexion</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.Complexion track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.Complexion[$index].Status" id="{{com_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{com_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12  pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5>Family Value</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.FamilyValue track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.FamilyValue[$index].Status" id="{{famV_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{fam_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12  col-md-12 pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Employment</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.Employment track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.Employment[$index].Status" id="{{emp_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{emp_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12  pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Other Options</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-check form-check-inline" ng-repeat="item in Model.Others track by $index">
                                                        <input class="form-check-input" type="checkbox" ng-model="Model.Others[$index].Status" id="{{oth_+item.ID}}" ng-checked="{{item.Status}}">
                                                        <label for="{{oth_+item.ID}}" class="form-check-label">{{item.Name}}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-sm-12 col-md-12  pl-2 lineHeight">
                                    <div class="card mb-2">
                                        <div class="card-header">
                                            <h5> Test MultiDD</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <select id="ddlMaritalStatus" class="form-control" placeholder="---Please Select---" multiple ng-model="PartnerCategory[$index].maritalStatus">-->
                                                        @*<option value="value">---Please Select---</option>*@
                                                        <!--<option value="{{MaleStatus.Type}}" ng-repeat="MaleStatus in MaritalStatusForMale track by $index">{{MaleStatus.Type}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <input id="btnPartnerCategory" type="submit" class="action-button btnSave  btn-success" value="Save" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    $(document).ready(function () {
        $('.multiSelect2').select2();                     

        $("#MonthlyExpense").on("click", function () {
            console.log('clicked ');
            if ($('#MonthlyExpense').prop('checked')) {
                // something when checked
                //console.log("called")
                $('#ExpenseLab').show();
            } else {
                // something else when not
                $('#ExpenseLab').hide();
            }

        })

        $('#ExpenseLab').hide();

        $("#ExpenseBox").focusout(function () {
            if (!$.isNumeric($('#ExpenseBox').val())) {
                $('#ExpenseBox').val('');
                $('#numbermsg').show();
            } else {
                $('#numbermsg').hide();
            }
            //$(this).css("background-color", "#FFFFFF");
        });
        $('#numbermsg').hide();
        //model show hide
        $(".close").on("click", function () {
            $("#DivorReasonModal").modal('hide');
        });
        // pop up call for Woman
        jQuery('#DivorceWomen').on('change', function () {
            var ddlVal = $("#DivorceWomen").val();
            //console.log("Woman Reason Clicked");
            Cehckvalue(ddlVal);
        });
        //pop up call for man
        jQuery('#DivorceMan').on('change', function () {
            //console.log("Man Reason Clicked");
            var ddlVal = $("#DivorceMan").val();
            Cehckvalue(ddlVal);
        });
        //Pop Model Call
        function Cehckvalue(ddlVal) {
            //console.log('ChechVal Func ' + ddlVal);
            if (ddlVal == 'Yes') {
                $("#DivorReasonModal").modal('show');
                //$("#candDetail").html("");
            };
        };
    });


</script>

