

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Assets/scripts/jquery-ui.min.js?v=@DateTime.Now.Ticks"></script>

    <script src="~/Assets/vendor/moment/js/moment.js"></script>
    <script src="~/Assets/vendor/summernote/summernote.min.js"></script>
    <link href="~/Assets/vendor/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/Assets/vendor/select2/js/select2.min.js"></script>
    <link href="~/Assets/vendor/bootstrap-toggle/css/bootstrap-toggle.css" rel="stylesheet" />
    <script src="~/Assets/vendor/bootstrap-toggle/js/bootstrap-toggle.js"></script>
    <link href="~/Assets/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/Assets/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <link href="~/Assets/vendor/bootstrap-date-time-picker/css/bootstrap-datetimepickermin.css" rel="stylesheet" />
    <script src="~/Assets/vendor/bootstrap-date-time-picker/js/bootstrap-datetimepickermin.js"></script>
    <link href="~/Assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Assets/scripts/angular.js"></script>
    <link href="~/Assets/vendor/iziToast/iziToast-min.css" rel="stylesheet" />
    <script src="~/Assets/vendor/iziToast/iziToast-min.js"></script>
    <script src="~/Angular/Generic.js?v=@DateTime.UtcNow.Ticks"></script>
    <script src="~/Angular/Method.js?v=@DateTime.UtcNow.Ticks"></script>
    <script src="~/Angular/Service.js?v=@DateTime.UtcNow.Ticks"></script>
    <script src="~/Angular/Filter.js?v=@DateTime.UtcNow.Ticks"></script>
    <link rel="icon" href="~/Assets/img/favicon.png" type="image/x-icon" sizes="16x16">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Assets/vendor/parsleyjs/css/parsley.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <script src="~/Assets/vendor/parsleyjs/js/parsley.min.js?v=@DateTime.Now.Ticks"></script>
    <script src="~/Angular/Accounts/Accounts.js?v=@DateTime.Now.Ticks"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body ng-app="MatrimonyAdminModule" ng-cloak>

    <div id="wrapper" ng-controller="AccountsController">
        <nav class="navbar navbar-default navbar-fixed-top nav-bg" style="min-height:55px;">
            <div class="brand">
                <a href="javascript:;" class="white-text">
                    <img src="/Images/AppSettingLogo/@Marryme.BAL.Static.ApplicationSettings.Id/@Marryme.BAL.Static.LogoPath" alt="Alternate Text" />
                </a>
            </div>

        </nav>

        <div class="container">
            @*<div class="row" style="margin-left:auto;margin-right:auto;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-body">
                                        <form id="frmAuthenticate" data-parsley-validate novalidate ng-submit="Authenticate()">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12 form-group">
                                                        <label class="col-md-4 control-label"> Email </label>
                                                        <div class="col-md-8">
                                                            <input name="txtApplicatonName" ng-model="Login.ApplicationName" required placeholder="Email Name" class="form-control" data-parsley-error-message="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 form-group">
                                                        <label class="col-md-4 control-label"> Password </label>
                                                        <div class="col-md-8">
                                                            <input name="txtAddress" ng-model="Login.Address" required placeholder="Password" class="form-control" data-parsley-error-message="">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 form-group">
                                                        <label class="col-md-4 control-label">  </label>
                                                        <div class="col-md-8">
                                                            <label><input type="checkbox" class="" />Remember Me</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">

                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6"></div>
                                                    <div class="col-md-6">
                                                        <button id="btnAuthenticate" type="submit" class="btn btn-success pull-right">
                                                            <span>
                                                                <i class="fa fa-check-circle"></i> Login
                                                            </span>
                                                            <span style="display:none">
                                                                <i class="fa fa-spinner fa-spin"></i>
                                                                Processing...
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-12">
                <div class="modal-dialog" style="margin-bottom:1px;margin-top:11%;">
                    <div class="modal-content">
                        <div class="panel">
                            <div class="panel-heading panel-success">
                                <h3 class="panel-title white-text">Sign In</h3>
                            </div>
                            <div class="panel-body">
                                <form id="frmAuthenticate" data-parsley-validate novalidate ng-submit="Authenticate()">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2 control-label"> Email </label>
                                                <div class="col-md-10">
                                                    <input ng-model="Login.Email" required type="email" placeholder="Email" class="form-control" data-parsley-error-message="">
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2 control-label"> Password </label>
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <input type="password" ng-model="Login.Password" required placeholder="Password" class="form-control" data-parsley-error-message="">
                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open" onClick="ViewPass(this)"></i></span>
                                                    </div>
                                                    @*<div class="input-group">
                                                            <div class="input-group-prepend" style="width:100%">
                                                                <input type="password" ng-model="Login.Password" required placeholder="Password" class="form-control" data-parsley-error-message="">
                                                                @*   <input type="password" class="form-control" id="txtPass" ng-model="MemberLogin.Password" placeholder="You Password" required />
                                                                <span class="input-group-text">
                                                                    <span class="fa fa-eye" onClick="ViewPass(this)"></span>
                                                                </span>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="col-md-12 form-group">
                                                <label class="col-md-2 control-label">  </label>
                                                <div class="col-md-10">
                                                    <label><input type="checkbox" class="" ng-model="Login.Remember" />  Remember Me</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="/Account/ForgetPassword">Forgot Password</a>
                                            </div>
                                            <div class="col-md-6">
                                                <button id="btnAuthenticate" type="submit" class="btn btn-success pull-right">
                                                    <span>
                                                        <i class="fa fa-check-circle"></i> Login
                                                    </span>
                                                    <span style="display:none">
                                                        <i class="fa fa-spinner fa-spin"></i>
                                                        Processing...
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer navbar-inverse">
        <p>&copy; All Rights Reserved | Powered By EastFlicker IT Solutions</p>
    </footer>
    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            /*background-color: red;*/
            color: white;
            text-align: center;
        }

        body {
            background-color: #f5f5f5 !important;
        }

        .panel-success {
            background: linear-gradient(-45deg,#e64545,#6e1a52) !important;
            border: none;
        }

        .white-text {
            color: white;
            margin-left: 15px;
        }

        .brand {
            margin-left: 15px;
        }

        a:focus, a:hover {
            color: #da4146;
            text-decoration: none;
        }

        .panel {
            border: none;
            margin-bottom: 0px;
        }
    </style>
    <script>
        function ViewPass(obj) {
            var x = $(obj).parent().prev()[0];
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
</body>
</html>